body{
    margin:10px;
}

header h1{
    display: flex;
    justify-content: center;
    animation-name: h1header;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    padding: 20px;

}

@keyframes h1header{
    25%{
        color: #2a85ec;
    }
    50%{
        color: #000130;
    }
    75%{
        color: #e4e4e4;
    }
    100%{
        color: #020202;
    }
}

.secmain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    
}

.sectmainpag{
    display: flex;
    flex-direction: column;
}

.sectmainpag p{

    text-align: center;
}

.sectmainpag img{
    width: 180px;
    align-self: center;    

}

.sectbutton{
    display: flex;
    justify-content: center;
    padding: 15px;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #eff5f7;
    padding-top: 20px;

}
footer img{
    width: 35px;
}

.imgtable{
    width: 0px;
}

.mainclient{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    
   

}
.sect1mainclient{
    text-align: center;
}

.mainclient img{
    width: 180px;
}
@media screen and (min-width:360px){
    .imgtable{
        width: 95px;
    }
    .mainclient img{
        width: 320px;
    }

}

@media screen and (min-width: 768px){

    footer img{
        width: 90px;
    }
    .secmain{
        font-size: 18px;

    }
    .imgtable{
        width: 150px;

    }
    .sectmainpag img{
        width: 480px;
    }
    .mainclient img{
        width: 480px;
    }

}


